<!doctype html>
<html>
<head>
    <title>Capture Frame</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('#upload').on('click', function () {
                var form_data = new FormData();
                var ins = document.getElementById('multiFiles').files.length;
                 
                if(ins == 0) {
                    $('#msg').html('<span style="color:red">Select at least one file</span>');
                    return;
                }
                 
                    form_data.append("files[]", document.getElementById('multiFiles').files[0]);
                
                 
                $.ajax({
                    url: '/upload', // point to server-side URL
                    dataType: 'json', // what to expect back from server
                    cache: false,
                    contentType: false,
                    processData: false,
                    data: form_data,
                    type: 'post',
                    success: function (response) { 
                         $('#container').html(
                            $('<img/>', {
                                src: response,
                                width: '720px',
                                height: '360px',
                                alt: ''
                            })
                        );
                    },
                });
            });
        });
    </script>
</head>
<body>
    <h2>Select Video file to upload</h2>
    <dl>
        <p>
            <input type="file" id="multiFiles" name="files[]" multiple="multiple"/>
            <button id="upload">Upload</button>
        </p>
        <span id="container"></span>
    </dl>
</body>
